@import url('https://fonts.googleapis.com/css?family=Roboto+Mono|Source+Sans+Pro:300,400,600');

$color-primary: #42b983;
$color-bg: #fff;
$color-text: #34495e;
$sidebar-width: 300px;

@import 'basic/_layout.css';
@import 'basic/_coverpage.css';

body {
  background-color: $color-bg;
}

/* sidebar */
.sidebar {
  background-color: $color-bg;
  color: #364149;

  li {
    margin: 1px 0 1px 15px;

    p {
      font-size: 1.01rem;
      color: #044f67;
    }
  }

  ul {
    padding-left: 0.5em;
  }

  ul li a {
    color: #505d6b;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:hover {
      text-decoration: underline;
    }
  }

  ul li ul {
    padding: 0;
  }

  ul li.active > a {
    border-right: 2px solid;
    color: var(--theme-color, $color-primary);
    font-weight: 600;
  }
}

.app-sub-sidebar {
  li {
    &::before {
      content: '-';
      padding-right: 4px;
      float: left;
    }
  }
}

/* markdown content found on pages */
.markdown-section h1,
.markdown-section h2,
.markdown-section h3,
.markdown-section h4,
.markdown-section strong {
  color: #2c3e50;
  font-weight: 600;
}

.markdown-section a {
  color: var(--theme-color, $color-primary);
  font-weight: 600;
}

.markdown-section h1 {
  font-size: 2rem;
  margin: 0 0 1rem;
}

.markdown-section h2 {
  font-size: 1.75rem;
  margin: 45px 0 0.8rem;
}

.markdown-section h3 {
  font-size: 1.5rem;
  margin: 40px 0 0.6rem;
}

.markdown-section h4 {
  font-size: 1.25rem;
}

.markdown-section h5 {
  font-size: 1rem;
}

.markdown-section h6 {
  color: #777;
  font-size: 1rem;
}

.markdown-section figure,
.markdown-section p {
  margin: 1.2em 0;
}

.markdown-section p,
.markdown-section ul,
.markdown-section ol {
  line-height: 1.6rem;
  word-spacing: 0.05rem;
}

.markdown-section ul,
.markdown-section ol {
  padding-left: 1.5rem;
}

.markdown-section blockquote {
  border-left: 4px solid var(--theme-color, $color-primary);
  color: #858585;
  margin: 2em 0;
  padding-left: 20px;
}

.markdown-section blockquote p {
  font-weight: 600;
  margin-left: 0;
}

.markdown-section iframe {
  margin: 1em 0;
}

.markdown-section em {
  color: #7f8c8d;
}

code, pre {
  font-family: Consolas, Monaco, Andale Mono, monospace;
  background-color: #f8f8f8;
  color: inherit;
}

code {
  font-family: Consolas, Monaco, Andale Mono, monospace;
  margin: 0 2px;
}

pre {
  font-family: Consolas, Monaco, Andale Mono, monospace;
  line-height: 1.2em;
  overflow: auto;
  padding: 6px 10px;
}

pre > code {
  font-family: Consolas, Monaco, Andale Mono, monospace;
  border: 0;
  display: inline;
  max-width: initial;
  padding: 0;
  margin: 0;
  overflow: initial;
  line-height: 1.3em;
  font-size: 1em;
  white-space: pre;
  background: 0 0;
}

code {
  color: #e96900;
  border-radius: 2px;
  font-size: .8rem;
  margin: 0 2px;
  padding: 3px 5px;
  white-space: pre-wrap;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #f8f8f8;
}

h1, h2 {
  border-bottom: 1px solid #EFEAEA;
  padding-bottom: 0.3em;
}

.line-numbers .line-numbers-rows {
  top: -1.5px;
}

.content {
  padding-top: 0;
}

.markdown-section h3, .markdown-section h4, .markdown-section h5, .markdown-section h6 {
  margin-top: 0.8em;
  margin-bottom: 0.5em;
  font-weight: 600;
}

.markdown-section h1 {
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-weight: 600;
}

.markdown-section h2 {
  margin-top: 0.9em;
  margin-bottom: 0.3em;
  font-weight: 600;
}

.anchor {

  &:hover {
    text-decoration: none;
    &:before {
      display: block;
    }
  }
  &:before {
    display: none;
    content: "#";
    color: $color-primary;
    position: absolute;
    left: -0.2rem;
    line-height: 1.4;
    padding-right: 0.5em;
    font-weight: bold;
  }
}

.toc {

  margin: 0;

  a {
    text-decoration: none;
    color: #34495e;
    font-weight: normal;
    &:hover {
      text-decoration: underline;
    }
  }
}

.load {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 0;
  display: none;
  font-size: 1.2rem;
  margin: -1rem 0 0 -2rem;
}